/* Font definitions */
@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 