/* Import other style files */
@import 'fonts.css';



/* Base styles */
body {
  margin: 0;
  font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App specific styles */
.App {
  text-align: center;
} 

/* make the split container a flex row */
.split {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.edit-virtuoso-height {
  height: calc(100vh - 230px);
}

/* optional: make children scroll instead of overflowing */
.split > * {
  min-width: 0;          /* prevents flex items from forcing wrap */
  overflow: auto;
}

/* gutters look/behave correctly */
.gutter.gutter-horizontal {
      cursor: col-resize;
      height: 100%;
      background-color: grey;
}

.split.close .gutter.gutter-horizontal {
  display: none;
}

.split.close .right-side-pane {
  display: none;
}
